*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  min-height: 100vh;
  max-height: auto;
  width: 100%;
  overflow: hidden;
  background-image: linear-gradient(to top,#11d452,#a93eb5);
  user-select: none;
}